<app-form *ngIf="secretary">
    <div class="login-item">

      <div style="display: flex; align-items: center;" *ngIf="loading">
        <spinner [size]="20" [tickness]="1" [color]="spinnerColor"></spinner>
      </div>

      <div  class="form form-login" *ngIf="!loading">

        <div class="header">
          <p> Hello, {{secretary.userName}}</p>
          <a href="/signup">LogOut</a>
        </div>



        <div class="form-field">
          <div class="team" (click)="showWindow = true" >Team</div>
          <input id="team" type="text" [(ngModel)]="dt.teamDTO.number" class="form-input" placeholder="Team" required>
          <input type="submit" (click)="addTeam()" value="Add team" >
        </div>


        <div class="form-field">

            <div class="subject" (click)="showSubjectWindow = true">Subject</div>
            <input id="subject" type="text" [(ngModel)]="dt.subjectDTO.name" class="form-input" placeholder="Subject" required>

            <div class="teacher-list">
              <label class="teacher" for="teacher">Teacher</label>
              <select name="teacher" id="teacher"  [(ngModel)]="dt.subjectDTO.teacherId">
                <option *ngFor="let t of teachers"
                        [value]="t.id">
                  {{t.userName}}
                </option>

              </select>
            </div>

            <div class="type-list">
              <label class="type-list-label" for="type">Type</label>
              <select name="type" id="type"  [(ngModel)]="dt.subjectDTO.type">
                <option value="zalik">zalik</option>
                <option value="exam" >exam</option>

              </select>


            </div>
        <input type="submit" (click)="addSubject()" value="Add subject" >

        </div>

        <div class="form-field">

          <div class="exams" (click)="showExamWindow = true">Exams</div>

            <div class="subject-list">
              <label class="subject-list-label" for="subject">Subjects</label>
              <select name="subject" id="subject" [(ngModel)]="dt.examDTO.subjectId">
                <option *ngFor="let s of subjects"
                        [value]="s.id">
                  {{s.name}}
                </option>

              </select>
            </div>



          <div class="team-list">
            <label class="team-list-label" for="teamList">Team</label>
            <select name="teamList" id="teamList" [(ngModel)]="dt.examDTO.teamId">
              <option *ngFor="let team of teams"
                      [value]="team.id">
                {{team.number}}
              </option>

            </select>
          </div>

          <mat-form-field style="margin-right: 15px; color:white">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date"  [(ngModel)]="dt.examDTO.date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

            <input id="addExam" (click)="addExam()" type="submit" value="Add exam" >

          <input type="submit" value="Summary" (click)="summary()">

        </div>




        <div style="background: red; text-align: center;" *ngIf="error">
          <p>{{error}}</p>
        </div>

      </div>


      <app-summary-window
        *ngIf="showSummaryWindow"
        [result]="sum"
        (closeWindow) = "showSummaryWindow = false"
      ></app-summary-window>

      <app-subject-window
        *ngIf="showSubjectWindow && subjects.length>0"
        [subjects] = "subjects"
        (closeWindow)="showSubjectWindow = false">
      </app-subject-window>


    <app-exam-window
      *ngIf="showExamWindow && exams.length>0"
      [exams]="exams"
      [teams]="teams"
      [subjects]="subjects"
      [teachers]= "teachers"
      (closeWindow)="showExamWindow = false">
    </app-exam-window>

    <app-modal-window
        *ngIf="showWindow && (studentsWithoutTeam || studentsWithTeam)"
        [studentsWithoutTeam]="studentsWithoutTeam"
        [studentsWithTeam]="studentsWithTeam"
        [teams]="teams"
        (mathStudentTeam)="match($event)"
        (closeWindow)="showWindow = false" >

    </app-modal-window>
    </div>

</app-form>


