<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="content">
      <div class="exams" >

        <table>
          <thead>
          <tr>
            <td>id</td>
            <td>Name</td>
            <td>Teacher Name</td>
            <td>Type</td>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let s of subjects; let i = index">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.teacherUserName}}</td>
            <td>{{s.type}}</td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>
    <span (click)="close()" class="close">&times;</span>

  </div>
</div>
